[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
flask = "*"
tomli = "*"
typing-extensions = "*"
dill = "*"
opencv-python-headless = "*"
opencv-python = "*"
pymongo = "*"
pybase64 = "*"
certifi = "*"
pytesseract = "*"
pillow = "*"
pytest = "*"
pytest-cov = "*"


[dev-packages]

[requires]
python_version = "3.11"
