[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
pymongo = "*"
pytesseract = "*"
pillow = "*"

[dev-packages]
pylint = "*"
black = "*"
tomli = "*"
typing-extensions = "*"
dill = "*"
pytest = "*"

[requires]
python_version = "3.11"
