[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
pybase64 = "*"
mongomock = "*"

[dev-packages]
pylint = "*"
black = "*"
pytest = "*"
tomli = "*"
typing-extensions = "*"
dill = "*"

[requires]
python_version = "3.11"
