<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Course</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        } 

        header {
            background-color: #57068c;
            color: #fff;
            text-align: center;
            padding: 10px;
        }
    </style>
</head>
<body onload="startCamera();">
    <header>
        <h1>✏️ Add Note</h1>
    </header>
    <main>
        <h1 style="text-align: center;">Processing ...⚙️</h1>
    </main>
</body>
</html>
